<launch>
    <machine name="left" address="wtmpc23" env-loader="/opt/ros/melodic/env.sh" user="icub"/>
    <machine name="right" address="wtmpc132" env-loader="/opt/ros/melodic/env.sh" user="icub"/>
    <machine name="machineS" address="wtmhri2" env-loader="/opt/ros/indigo/env.sh" user="icub"/>

    <!-- Left Robot -->
    <group ns="A">
        <node name="speech_synthesis" args="A" pkg="speech" type="SpeechSynthesisStub.py" machine="left" respawn="true"/>
    </group>
    <!-- Right Robot -->
    <group ns="B">
        <node name="speech_synthesis" args="B" pkg="speech" type="SpeechSynthesisStub.py" machine="right" respawn="true"/>
    </group>
    <!-- Ship / Lab Computer -->
    <group ns="S">
        <node name="speech_synthesis" args="S" pkg="speech" type="SpeechSynthesisStub.py" machine="machineS" respawn="true"/>
        <node name="speech_recognition" pkg="speech" type="SpeechRecognitionStub.py" machine="machineS" respawn="true"/>
    </group>

</launch>