<launch>
    <arg name="llabel" default="A"/>
    <arg name="lnvc" default="S"/>
    <node name="fex"        pkg="nicopose" ns="$(arg llabel)" type="fexSub.py"              args="--label $(arg llabel)" />
    <node name="pose"       pkg="nicopose" ns="$(arg llabel)" type="poseService.py"         args="--label $(arg llabel) --SM $(arg lnvc)"/>
    <node name="synthesis"  pkg="speech"   ns="$(arg llabel)" type="SpeechSynthesisStub.py" args=" $(arg llabel)"/>
</launch>
