<launch>
    <arg  name="llable"    />
    <arg  name="lposition" />
    <node name="pose" pkg="nicopose" ns="nicopose" type="poseService.py" args="--label A --position LEFT"  />
    <node name="fex"  pkg="nicopose" ns="nicopose" type="fexSub.py"      args="--label A --position LEFT" />
</launch>

<!--
useful elements for node:

respawn="true"

"$(arg llable)"
-->