<launch>
    <arg  name="llabel"    />
    <arg  name="lposition" />
    <node name="pose"       pkg="nicopose" ns="$(arg llabel)" type="poseService.py"         args="--label $(arg llabel) --position $(arg lposition)" />
    <node name="fex"        pkg="nicopose" ns="$(arg llabel)" type="fexSub.py"              args="--label $(arg llabel) --position $(arg lposition)" />
    <node name="synthesis"  pkg="speech"   ns="$(arg llabel)" type="SpeechSynthesisStub.py" args=" $(arg llabel)"/>
</launch>

