<launch>
    <node name="video"      pkg="video" type="play_video.py"/>
    <node name="synthesis"  pkg="speech"   ns="S" type="SpeechSynthesisStub.py" args="S"/>
    <node name="cube_feedback"  pkg="speech"   type="CubesCountingFeedback.py"/>
    <node name="lighting"  pkg="lighting"   type="LightControlService.py"/>
</launch>

